html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #0098D4; /* Zwischenhalter für Farbe */
	height: 50px;
	width: 80%;
}

header > nav {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 50px;
}

header > nav > a {
	display: inline-block;
	color: white !important;
	text-transform: uppercase;
	text-decoration: none;

	margin-right: 2vw;

	transition: 0.3s; /* Animation */

}

header > nav > a:hover {
	color: white !important;
	font-weight: bolder;
}

h1 {
	color: #ff0000;
}

#MenuBackground {
	width: 100%;
	height: auto;

	overflow: hidden;
	align-self: center;

	margin-left: auto;
	margin-right: auto;

	-webkit-animation: zoomoutFull 10s ease-in;
	animation: zoomoutFull 10s ease-in;

	z-index: -1000;
}

#MenuBackgroundDiv {
	width: 80%;
	height: 15vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

#wrapper {
	width: 80%;
	height: 2000px; /* Temporäre Breite */
	margin-left: auto;
	margin-right: auto;
	background-color: #f1f1f1;
}


/* Animationen */
@-webkit-keyframes zoomout {
	0% {transform: scale(1);}
	50% {transform: scale(0.67);}
	100% {transform: scale(1);}
}

@keyframes zoomout {
	  0% {transform: scale(1);}
	50% {transform: scale(0.67);}
	100% {transform: scale(1);}
}

@-webkit-keyframes zoomoutFull {
	0% {
		/* transform: scale(10); */
		/* width: 100vw;
		height: auto; */
		/* margin-left: 20vw; */
		/* position:relative; */
		width: 100vw;
		height: auto;
		z-index: 10000;
		transition: 2s all;
	}
	/* 50% {transform: scale(2.5);} */
	100% {
		/* transform: scale(1);
		margin-left: 0vw;
		position:relative;
		z-index: 10000; */
		/* height: 100%;
		width: auto; */
		transition: 2s all;
		width: 100%;
		height: auto;
	}
}

@keyframes zoomoutFull {
	0% {
		/* transform: scale(10); */
		/* margin-left: 20vw;
		width: 100vw;
		height: auto; */
		/* position:relative; */
		width: 100vw;
		height: auto;
		z-index: 10000;
		transition: 2s all;
	}
	/* 50% {transform: scale(2.5);} */
	100% {
		/* transform: scale(1);
		margin-left: 0vw;
		position:relative;
		z-index: 10000; */
		/* height: 100%;
		width: auto; */
		transition: 2s all;
		width: 100%;
		height: auto;
	}
}